<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Mangá</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>



    <div class="container">

        <h1 class="my-3">Cadastrar Mangás</h1>
        <h2 class="my-3"><a href="/mangas" class="btn btn-success"><i class="bi-list"></i> Lista de Mangás</a></h2>

        <form method="post">
            Nome: <input type="text" value="" name="nome"/>
            Autor: <input type="text" value="" name="autor"/>
            Ano de Lançamento: <input type="text" value="" name="anoLanc"/>

            <button type="submit" class="btn btn-success">Cadastrar Mangá</button>
        </form>
    </div>


    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>