<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="container my-5">

    <div>
        <h1>Login</h1>

        <form method="post" action="/efetuarLogin">
            email <input class="form-control" type="text" value="" name="email"/><br>
            senha <input class="form-control" type="password" value="" name="senha"/><br>
            <button type="submit" class="btn btn-success">Entrar</button>
        </form>
    </div>

    <p class="my-2">Não possui um cadastro ainda? Considere <a href="/usuarios/new">cadastrar-se</a></p>
</div>


<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>